nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}
.active {
  color: #16a34a;
}
